@use "../abstracts" as var;

.feedback {
    background-color: #2E2100;
    padding: 96px 0px;

    .content {
        position: relative;
    }

    &-nav {
        display: flex;
        gap : 6px;
        position: absolute;
        bottom: 0;
        left: 0;

        .dot {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #634700;

            &.active {
                background: #FFB900;
            }
        }
    }

    &-list {
        display: flex;
        overflow: hidden;
    }

    &-item {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        justify-content: space-between;
    }

    &-user {
        img {
            width: 72px;
            height: 72px;
            object-fit: cover;
            border-radius: 50%;
        }

        .username {
            margin-top: 18px;
            @include var.headingFont($size : 2.4rem,$color : #F7F7F7);
            line-height: 1.42;
        }

        .user-job {
            margin-top: 4px;
            @include var.paragraphFont($size: 1.4rem,$color : #BFBCB2)
        }
    }

    &-content {
        width: 66%;
        blockquote {
            @include var.paragraphFont($size: 2.6rem,$color : #FFF);
            font-style: italic;
            line-height: 1.54;
            margin : 0 0 0 30px;
        }
    }

}