@use "../abstracts" as var;

.btn {
    @include var.paragraphFont(600,$color : #FFF);
    line-height: 1.75;
    font-family: inherit;
    min-width: 118px;
    height: 50px;
    border: none;
    border-radius: 999px;
    color : #FFF;
    background: var.$text-bold-color;
    transition: all ease 0.25s;

    cursor: pointer;

    &:hover {
        background: var.$primary-color;
    }
}