/* --------------------------------------- Poppins */

@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Regular'), url('./poppins/') format('woff');
}
    

@font-face {
    font-family: 'Poppins Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Italic'), url('./poppins/Poppins-Italic.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins Thin';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Thin'), url('./poppins/Poppins-Thin.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Thin Italic'), url('./poppins/Poppins-ThinItalic.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins ExtraLight'), url('./poppins/Poppins-ExtraLight.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins ExtraLight Italic'), url('./poppins/Poppins-ExtraLightItalic.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Light'), url('./poppins/Poppins-Light.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Light Italic'), url('./poppins/Poppins-LightItalic.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Medium'), url('./poppins/Poppins-Medium.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Medium Italic'), url('./poppins/Poppins-MediumItalic.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins SemiBold'), url('./poppins/Poppins-SemiBold.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins SemiBold Italic'), url('./poppins/Poppins-SemiBoldItalic.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Bold'), url('./poppins/Poppins-Bold.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Bold Italic'), url('./poppins/Poppins-BoldItalic.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins ExtraBold'), url('./poppins/Poppins-ExtraBold.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins ExtraBold Italic'), url('./poppins/Poppins-ExtraBoldItalic.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins Black';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Black'), url('./poppins/Poppins-Black.woff') format('woff');
}
    

@font-face {
    font-family: 'Poppins Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Poppins Black Italic'), url('./poppins/Poppins-BlackItalic.woff') format('woff');
}

/* #### Generated By: http://font.download #### */

@font-face {
    font-family: 'Sen Regular';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Sen Regular'), url('./poppins/') format('woff');
}
    

@font-face {
    font-family: 'Sen Bold';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Sen Bold'), url('./poppins/Sen-Bold.woff') format('woff');
}
    

@font-face {
    font-family: 'Sen ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('./poppins/Sen ExtraBold'), url('./poppins/Sen-ExtraBold.woff') format('woff');
}