// Background 
$background-primary-color : #FFFCF4;
$background-secondary-color : #2E2100;
$background-third-color : #FFF;

// Text-color 
$text-light-color : #5F5B53;
$text-bold-color : #171100;
$text-gray-color : #BFBCB2;

// Color : 
$primary-color : #FFB900;