/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.fixed {
  position: sticky;
  top: -24px;
  z-index: 1;
}

.navbar {
  margin-left: auto;
}
.navbar ul {
  display: flex;
  gap: 42px;
  margin-right: 70px;
}
.navbar ul li {
  line-height: 1.75;
  cursor: pointer;
  position: relative;
}
.navbar ul li:hover, .navbar ul li.active {
  text-shadow: 1px 0 0 currentColor;
}
.navbar ul li.active::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #171100;
}

.header {
  background: #FFFCF4;
  padding: 44px 0 20px;
}
.header .content {
  display: flex;
  align-items: center;
}
.header button.btn {
  min-width: 144px;
}

.hero {
  background: #FFFCF4;
  padding-top: 44px;
  padding-bottom: 65px;
}
.hero .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .media-block {
  width: 40%;
  flex-shrink: 0;
  position: relative;
}
.hero .media-block img.block-img {
  width: 470px;
  max-width: 100%;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}
.hero .media-block .course {
  position: absolute;
  bottom: 48px;
  right: -100px;
  width: 270px;
  padding: 24px 0 24px 24px;
  border-radius: 12px;
  background: #fff;
}
.hero .media-block .course-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.hero .media-block .course-item {
  display: flex;
  column-gap: 4px;
  align-items: center;
}
.hero .media-block .course-item img {
  padding: 12px;
  margin-right: 16px;
  background: var(--icon-color);
  border-radius: 50%;
}
.hero .media-block .course-item .course-content .count {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #5F5B53;
  line-height: 1.85;
}
.hero .media-block .course-item .course-content .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #5F5B53;
  line-height: 1.67;
}
.hero .content-block {
  width: 40%;
}
.hero .content-block h1 {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 5.8rem;
  color: #171100;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .content-block .desc {
  margin-top: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #5F5B53;
  line-height: 1.67;
}
.hero .content-block .btn-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero .content-block .btn-group .course {
  width: 180px;
  height: 64px;
  margin-right: 28px;
}
.hero .content-block .btn-group .video {
  border-color: transparent;
  border-radius: 999px;
  background: transparent;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.hero .content-block .btn-group .video img {
  padding: 14px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 3px 3px 3px #ccc;
  margin-right: 14px;
}
.hero .content-block .btn-group .video .action {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
  line-height: 1.67;
}
.hero .content-block .btn-group .video .action:hover {
  color: #FFB900;
}
.hero .content-block .stats {
  margin-top: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #5F5B53;
  line-height: 1.67;
}
.hero .content-block .stats .info span + span {
  margin-left: 28px;
}
.hero .content-block .stats strong {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  color: #171100;
  line-height: 1.23;
}

.courses {
  margin: 135px 0px;
  padding: 65px 0px;
}
.courses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses-header .info {
  width: 39%;
}
.courses-header .info-title {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  color: #171100;
  line-height: 1.26;
  letter-spacing: -0.76px;
}
.courses-header .info-desc {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #5F5B53;
}
.courses-header .control-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFB900;
  color: #FFB900;
}
.courses-header .control-btn:hover {
  background: #FFB900;
  color: #fff;
}
.courses-header .control-btn + .control-btn {
  margin-left: 14px;
}
.courses-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.courses-item:hover {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.courses-item img.thumb {
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  height: 278px;
  object-fit: cover;
  display: block;
}
.courses-item .courses-item-content {
  padding: 16px 22px 22px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
  border: 1px solid #e2dfda;
}
.courses-item .courses-item-content .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-item .courses-item-content .head .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
  line-height: 1.67;
}
.courses-item .courses-item-content .head .star {
  display: flex;
  align-items: center;
}
.courses-item .courses-item-content .head .star-icon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
.courses-item .courses-item-content .head .star-value {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #FFB900;
  line-height: 1.75;
}
.courses-item .courses-item-content .desc {
  margin-top: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #5F5B53;
  line-height: 1.85;
}
.courses-item .courses-item-content .foot {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-item .courses-item-content .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.courses-item .courses-item-content .foot .btn {
  font-size: 1.4rem;
  line-height: 1.85;
}

.feedback {
  background-color: #2e2100;
  padding: 96px 0px;
}
.feedback .content {
  position: relative;
}
.feedback-nav {
  display: flex;
  gap: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback-item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-between;
}
.feedback-user .image {
  width: 72px;
  height: 72px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.feedback-user .image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  left: -70px;
  top: 30px;
}
.feedback-user .username {
  margin-top: 18px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #f7f7f7;
  line-height: 1.42;
}
.feedback-user .user-job {
  margin-top: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #bfbcb2;
}
.feedback-content {
  width: 66%;
}
.feedback-content blockquote {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2.6rem;
  color: #fff;
  font-style: italic;
  line-height: 1.54;
  margin: 0 0 0 30px;
}

.featured-1, .featured-2 {
  padding-top: 65px;
  margin-top: 135px;
}
.featured-1 .content, .featured-2 .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-1 img, .featured-2 img {
  object-fit: cover;
}

.featured-1 .featured-image {
  width: 48%;
  display: flex;
  gap: 30px;
}
.featured-1 .featured-image img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
}
.featured-1 .featured-image img:first-child {
  margin-top: 34px;
}
.featured-1 .featured-content {
  width: 40%;
}

.featured-2 .featured-content {
  width: 48%;
}
.featured-2 .featured-image {
  width: 40%;
}
.featured-2 .featured-image img {
  width: 100%;
  height: 404px;
  border-radius: 20px;
}

.featured-content .title {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  color: #171100;
  line-height: 1.26;
  letter-spacing: -0.76px;
}
.featured-content .desc {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #5F5B53;
  line-height: 1.75;
}
.featured-content .btn {
  margin-top: 32px;
  min-width: 137px;
}

.blog {
  margin-top: 200px;
  padding: 96px 0;
  background: #fffcf4;
}
.blog-header {
  text-align: center;
}
.blog-header .title {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  color: #171100;
  line-height: 1.26;
  letter-spacing: -0.76px;
}
.blog-header .desc {
  width: 448px;
  margin: 16px auto 0;
  line-height: 1.75;
}
.blog-list {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.blog-item {
  background: #fff;
}
.blog-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.blog-item .blog-desc {
  padding: 20px 20px 28px;
}
.blog-item .blog-desc .date {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #5F5B53;
  padding-bottom: 12px;
  position: relative;
  display: inline-block;
}
.blog-item .blog-desc .date::before {
  content: "";
  position: relative;
  display: inline-block;
  margin-right: 4px;
  top: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffb900;
}
.blog-item .blog-desc .date::after {
  content: "";
  width: calc(100% + 27px);
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
  border-radius: 0.5px;
  background: #e2dfda;
}
.blog-item .blog-title {
  margin: 12px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: #171100;
  line-height: 1.75;
  cursor: pointer;
}
.blog-item .blog-title:hover {
  color: #ffb900;
}
.blog-item .link {
  font-size: 1.4rem;
  line-height: 1.85;
}
.blog-nav {
  display: flex;
  gap: 6px;
  bottom: 0;
  left: 0;
  justify-content: center;
  margin-top: 38px;
}

.footer {
  padding: 96px 0 28px;
  background: #2e2100;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.75;
  font-family: inherit;
  min-width: 118px;
  height: 50px;
  border: none;
  border-radius: 999px;
  color: #fff;
  background: #171100;
  transition: all ease 0.25s;
  cursor: pointer;
}
.btn:hover {
  background: #FFB900;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}
.dot.active {
  background: #ffb900;
}

/*# sourceMappingURL=main.css.map */
