/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.fixed {
  position: sticky;
  top: -24px;
  z-index: 1;
}

.navbar {
  margin-left: auto;
}
.navbar ul {
  display: flex;
  gap: 42px;
  margin-right: 70px;
}
.navbar ul li {
  line-height: 1.75;
  cursor: pointer;
  position: relative;
}
.navbar ul li:hover, .navbar ul li.active {
  text-shadow: 1px 0 0 currentColor;
}
.navbar ul li.active::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #171100;
}

.header {
  background: #FFFCF4;
  padding: 44px 0 20px;
}
.header .content {
  display: flex;
  align-items: center;
}
.header button.btn {
  min-width: 144px;
}

.hero {
  background: #FFFCF4;
  padding-top: 44px;
  padding-bottom: 65px;
}
.hero .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .media-block {
  width: 40%;
  flex-shrink: 0;
  position: relative;
}
.hero .media-block img.block-img {
  width: 470px;
  max-width: 100%;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}
.hero .media-block .course {
  position: absolute;
  bottom: 48px;
  right: -100px;
  width: 270px;
  padding: 24px 0 24px 24px;
  border-radius: 12px;
  background: #fff;
}
.hero .media-block .course-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.hero .media-block .course-item {
  display: flex;
  column-gap: 4px;
  align-items: center;
}
.hero .media-block .course-item img {
  padding: 12px;
  margin-right: 16px;
  background: var(--icon-color);
  border-radius: 50%;
}
.hero .media-block .course-item .course-content .count {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #5F5B53;
  line-height: 1.85;
}
.hero .media-block .course-item .course-content .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #5F5B53;
  line-height: 1.67;
}
.hero .content-block {
  width: 40%;
}
.hero .content-block h1 {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 5.8rem;
  color: #171100;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .content-block .desc {
  margin-top: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #5F5B53;
  line-height: 1.67;
}
.hero .content-block .btn-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero .content-block .btn-group .course {
  width: 180px;
  height: 64px;
  margin-right: 28px;
}
.hero .content-block .btn-group .video {
  border-color: transparent;
  border-radius: 999px;
  background: transparent;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.hero .content-block .btn-group .video img {
  padding: 14px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 3px 3px 3px #ccc;
  margin-right: 14px;
}
.hero .content-block .btn-group .video .action {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
  line-height: 1.67;
}
.hero .content-block .btn-group .video .action:hover {
  color: #FFB900;
}
.hero .content-block .stats {
  margin-top: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #5F5B53;
  line-height: 1.67;
}
.hero .content-block .stats .info span + span {
  margin-left: 28px;
}
.hero .content-block .stats strong {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  color: #171100;
  line-height: 1.23;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: #FFF;
  line-height: 1.75;
  font-family: inherit;
  min-width: 118px;
  height: 50px;
  border: none;
  border-radius: 999px;
  color: #FFF;
  background: #171100;
  transition: all ease 0.25s;
  cursor: pointer;
}
.btn:hover {
  background: #FFB900;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
